.about-header {
  position:absolute;
  top:100px;
  left:0;
  width:100%;
  font-size:2em;
}

.about-headline {
  position:absolute;
  top:215px;
  left:0;
  margin-left: 10%;
  width:80%;
  font-size:0.5em;
}

.about-headline h6 {
  background-color: #B82601;
  font-weight: bold;
  width: 140px;
  height: 100px;
  margin: auto;
  border-radius: 30%;
  color: white;
  padding-top: 12px;
}